<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- logogram Column -->
  <ng-container matColumnDef="logogram">
    <mat-header-cell *matHeaderCellDef> Logogramme </mat-header-cell>
    <mat-cell *matCellDef="let element" [class.unmasked]="blacknedCells[element.logogram] === 1"
                                        [class.masked]="blacknedCells[element.logogram] !== 1
                                        && isBlackened" > {{element.logogram}}
    </mat-cell>
  </ng-container>

  <!-- pinyin Column -->
  <ng-container matColumnDef="pinyin">
    <mat-header-cell *matHeaderCellDef> Pinyin </mat-header-cell>
    <mat-cell *matCellDef="let element" [class.unmasked]="blacknedCells[element.logogram] === 2"
                                        [class.masked]="blacknedCells[element.logogram] !== 2
                                        && isBlackened"> {{element.pinyin}}
    </mat-cell>
  </ng-container>

  <!-- traduction Column -->
  <ng-container matColumnDef="traduction">
    <mat-header-cell *matHeaderCellDef> Traduction </mat-header-cell>
    <mat-cell *matCellDef="let element" [class.unmasked]="blacknedCells[element.logogram] === 3"
                                        [class.masked]="blacknedCells[element.logogram] !== 3
                                        && isBlackened">
      <span *ngFor="let trans of element.translations; index as i">{{ trans.meaning + (i !== element.translations.length -1 ? ', ' : '' )}} </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-action-row>
  <button (click)="mask()" *ngIf="!isBlackened">
    <mat-icon>visibility</mat-icon>
  </button>
  <button (click)="unmask()" *ngIf="isBlackened">
    <mat-icon>visibility_off</mat-icon>
  </button>
  <button (click)="shuffleData()">
    <mat-icon>sync</mat-icon>
  </button>
</mat-action-row>
