  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      Lesson {{lesson}}
    </mat-expansion-panel-header>
    <ch-word-list [dataSource]="dataSource"></ch-word-list>
  </mat-expansion-panel>
